#main_header {
    color: aqua;
    background-color: rgba(8, 32, 77, 0.938);
    height: 101px;
    padding-right: 140px;
}

#main_footer {
    background-color: rgba(8, 32, 77, 0.938);
    height: 400px;
}

#main_logo {
    display: inline-block;
    padding-top: 20px;
    padding-left: 120px;
    width: 210px;
}

#footer_logo {
    display: inline-block;
    padding-top: 20px;
    width: 280px;
    color: white;
}

body {
    margin: auto;
}

main {
    height: 1000px;
}

ul {
    list-style-type: none;
    display: inline-block;
    padding-top: 40px;
    float: right;
}

li {
    float: right;
    font-size: 15px;
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    margin: 8px;
    padding: 8px;
}

a {
    display: block;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li:hover {
    border-bottom: 2px solid rgb(23, 99, 241);
}

#site_element {
    display: inline-block;
    margin: 30px;
    padding-left: 120px;
    color: white;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
}